@use "./assets/mixins";
@use "./assets/variables.scss";

.wrapper {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 768px;
  padding: 16px 0;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 8px rgba(0, 0, 0, 0.05);
  @include mixins.ProximaNova;

  hr {
    height: 1px;
    border: none;
    background-color: variables.$black-10;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 75px;

    margin: 8px 24px 20px 24px;
    font-size: 14px;
  }

  &__hr {
    margin: 0 24px;
  }

  &__body {
    position: relative;
    margin: 20px 24px 0 24px;
    padding-bottom: 24px;

    &__text {
      transition: ease-out 0.3s;
      max-height: 125px;
      z-index: 1;
      font-size: 16px;
      line-height: 24px;
      color: variables.$black-60;
      overflow: hidden;
    }

    .expand_arrow {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      z-index: 5;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 2px 4px 12px 0px #00000014;
      background-color: variables.$white;

      transition: ease-out 0.3s;

      &:hover {
        box-shadow: 2px 4px 12px 0px #00000020;
        cursor: pointer;
      }

      &.expanded {
        transform: translate(-50%, 50%) rotate(-180deg);
      }
    }
  }

  &__footer {
    position: relative;
    display: flex;

    padding: 24px 24px 24px 22px;
    background-color: variables.$gray;

    &.shadow:before {
      content: "";
      position: absolute;
      border: 1px solid variables.$gray;
      top: 0;
      left: 2.5%;
      width: 95%;
      box-shadow: 0px -24px 17.5px 17.5px variables.$white;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;

      background-color: variables.$blue;
    }
  }
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;

  font-size: 14px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    &__name {
      @include mixins.ProximaNovaBold;
    }
  }

  .mobile {
    display: none;
    color: variables.$black-20;

    .profit {
      color: variables.$green;
    }

    .equally {
      color: variables.$black-40;
    }

    .loss {
      color: variables.$red;
    }

    .percent {
      color: variables.$black-80;
    }
  }
}

.stats {
  display: flex;
  gap: 12px;

  &.mobile {
    display: none;
  }

  &__profit {
    width: 64px;
    font-weight: 600;
    color: variables.$green;
  }

  &__equally {
    width: 64px;
    font-weight: 600;
    color: variables.$black-40;
  }

  &__loss {
    width: 64px;
    font-weight: 600;
    color: variables.$red;
  }

  &__percent {
    width: 64px;
    color: variables.$black-80;

    &__number {
      font-weight: 600;
      color: variables.$green;
    }
  }

  &__profit_sum {
    width: 64px;
    color: variables.$black-80;

    &__number {
      font-weight: 600;
      color: variables.$green;
    }
  }
}

.bet {
  display: flex;
  gap: 16px;
  width: 100%;

  &__info {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-grow: 1;

    .forecast {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include mixins.ProximaNovaBold;

      &__title {
        color: variables.$black-40;
        text-transform: uppercase;
        font-size: 12px;
      }

      &__info {
        font-size: 18px;
        line-height: 20px;
      }
    }

    .ratio {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 12px;

      &__info {
        display: flex;
        flex-direction: column;

        &__text {
          font-size: 12px;

          &.mobile {
            display: none;
          }
        }

        &__number {
          font-size: 20px;
          font-weight: 600;
          color: variables.$black-80;

          &.mobile {
            display: none;
          }
        }
      }
    }
  }

  &__btn {
    min-width: 140px;
    font-size: 14px;
    padding: 16px 12px;

    border-radius: 6px;
    border: none;
    color: variables.$white;
    background-color: variables.$blue;

    transition: ease-in 0.1s;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

@media (max-width: 744px) {
  .card {
    max-width: 351px;
    padding: 16px 0;

    &__hr {
      margin: 0 16px;
    }

    &__header {
      gap: 8px;
      margin: 0px 16px 16px 16px;
    }

    &__body {
      margin: 16px 16px 0 16px;
    }

    &__footer {
      padding: 16px 16px 16px 14px;
    }

    .user {
      &__info__activity {
        display: none;

        &.mobile {
          display: block;
        }
      }
    }

    .stats {
      display: none;

      &.mobile {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .days {
          color: variables.$black-40;
        }

        .number {
          color: variables.$green;
        }
      }
    }

    .bet {
      flex-wrap: wrap;

      &__info {
        align-items: end;

        .forecast__info {
          font-size: 16px;
        }

        .ratio__info {
          &__text {
            display: none;

            &.mobile {
              display: block;
            }
          }

          &__number {
            display: none;

            &.mobile {
              display: block;
              font-size: 18px;
            }
          }
        }
      }

      &__btn {
        width: 100%;
      }
    }
  }
}
