$green: #62b435;

$red: #f64747;

$blue: #3498db;

$gray: #f9f9fa;

$white: #ffffff;

$black-80: #000000cc;
$black-60: #00000099;
$black-40: #00000066;
$black-20: #00000033;
$black-10: #0000001a;
